<!-- home.html -->

<!DOCTYPE html>
<html>
<head>
    <title>전세 보증금 예측</title>
</head>
<body>
    <h1>전세 보증금 예측</h1>
    <form method="POST" action="/">
        <label for="dong">동:</label>
        <select id="dong" name="dong">
            <option value="가락동">가락동</option>
            <option value="가리봉동">가리봉동</option>
            <option value="가산동">가산동</option>
            <option value="가양동">가양동</option>
            <option value="가회동">가회동</option>
            <option value="갈월동">갈월동</option>
            <option value="갈현동">갈현동</option>
            <option value="강일동">강일동</option>
            <option value="개봉동">개봉동</option>
            <option value="개포동">개포동</option>
            <option value="개화동">개화동</option>
            <option value="거여동">거여동</option>
            <option value="견지동">견지동</option>
            <option value="경운동">경운동</option>
            <option value="계동">계동</option>
            <option value="고덕동">고덕동</option>
            <option value="고척동">고척동</option>
            <option value="공덕동">공덕동</option>
            <option value="공릉동">공릉동</option>
            <option value="공항동">공항동</option>
            <option value="관수동">관수동</option>
            <option value="광장동">광장동</option>
            <option value="광희동1가">광희동1가</option>
            <option value="광희동2가">광희동2가</option>
            <option value="교북동">교북동</option>
            <option value="구기동">구기동</option>
            <option value="구로동">구로동</option>
            <option value="구산동">구산동</option>
            <option value="구수동">구수동</option>
            <option value="구의동">구의동</option>
            <option value="군자동">군자동</option>
            <option value="궁동">궁동</option>
            <option value="금호동1가">금호동1가</option>
            <option value="금호동2가">금호동2가</option>
            <option value="금호동3가">금호동3가</option>
            <option value="금호동4가">금호동4가</option>
            <option value="길동">길동</option>
            <option value="길음동">길음동</option>
            <option value="낙원동">낙원동</option>
            <option value="남가좌동">남가좌동</option>
            <option value="남대문로5가">남대문로5가</option>
            <option value="남산동2가">남산동2가</option>
            <option value="남영동">남영동</option>
            <option value="남창동">남창동</option>
            <option value="남현동">남현동</option>
            <option value="내곡동">내곡동</option>
            <option value="내발산동">내발산동</option>
            <option value="내수동">내수동</option>
            <option value="냉천동">냉천동</option>
            <option value="노고산동">노고산동</option>
            <option value="노량진동">노량진동</option>
            <option value="녹번동">녹번동</option>
            <option value="논현동">논현동</option>
            <option value="누상동">누상동</option>
            <option value="누하동">누하동</option>
            <option value="능동">능동</option>
            <option value="답십리동">답십리동</option>
            <option value="당산동">당산동</option>
            <option value="당산동1가">당산동1가</option>
            <option value="당산동2가">당산동2가</option>
            <option value="당산동3가">당산동3가</option>
            <option value="당산동4가">당산동4가</option>
            <option value="당산동5가">당산동5가</option>
            <option value="당산동6가">당산동6가</option>
            <option value="당인동">당인동</option>
            <option value="당주동">당주동</option>
            <option value="대림동">대림동</option>
            <option value="대방동">대방동</option>
            <option value="대신동">대신동</option>
            <option value="대조동">대조동</option>
            <option value="대치동">대치동</option>
            <option value="대현동">대현동</option>
            <option value="대흥동">대흥동</option>
            <option value="도곡동">도곡동</option>
            <option value="도림동">도림동</option>
            <option value="도봉동">도봉동</option>
            <option value="도선동">도선동</option>
            <option value="도원동">도원동</option>
            <option value="도화동">도화동</option>
            <option value="독산동">독산동</option>
            <option value="돈암동">돈암동</option>
            <option value="동교동">동교동</option>
            <option value="동빙고동">동빙고동</option>
            <option value="동선동1가">동선동1가</option>
            <option value="동선동2가">동선동2가</option>
            <option value="동선동3가">동선동3가</option>
            <option value="동선동4가">동선동4가</option>
            <option value="동선동5가">동선동5가</option>
            <option value="동소문동1가">동소문동1가</option>
            <option value="동소문동4가">동소문동4가</option>
            <option value="동소문동5가">동소문동5가</option>
            <option value="동소문동6가">동소문동6가</option>
            <option value="동소문동7가">동소문동7가</option>
            <option value="동숭동">동숭동</option>
            <option value="동자동">동자동</option>
            <option value="동작동">동작동</option>
            <option value="둔촌동">둔촌동</option>
            <option value="등촌동">등촌동</option>
            <option value="마곡동">마곡동</option>
            <option value="마장동">마장동</option>
            <option value="마천동">마천동</option>
            <option value="마포동">마포동</option>
            <option value="만리동1가">만리동1가</option>
            <option value="만리동2가">만리동2가</option>
            <option value="망우동">망우동</option>
            <option value="망원동">망원동</option>
            <option value="면목동">면목동</option>
            <option value="명륜1가">명륜1가</option>
            <option value="명륜2가">명륜2가</option>
            <option value="명륜3가">명륜3가</option>
            <option value="명륜4가">명륜4가</option>
            <option value="명일동">명일동</option>
            <option value="목동">목동</option>
            <option value="무악동">무악동</option>
            <option value="묵동">묵동</option>
            <option value="묵정동">묵정동</option>
            <option value="문래동2가">문래동2가</option>
            <option value="문래동3가">문래동3가</option>
            <option value="문래동4가">문래동4가</option>
            <option value="문래동5가">문래동5가</option>
            <option value="문래동6가">문래동6가</option>
            <option value="문배동">문배동</option>
            <option value="문정동">문정동</option>
            <option value="미근동">미근동</option>
            <option value="미아동">미아동</option>
            <option value="반포동">반포동</option>
            <option value="방배동">방배동</option>
            <option value="방이동">방이동</option>
            <option value="방학동">방학동</option>
            <option value="방화동">방화동</option>
            <option value="번동">번동</option>
            <option value="보광동">보광동</option>
            <option value="보문동1가">보문동1가</option>
            <option value="보문동2가">보문동2가</option>
            <option value="보문동3가">보문동3가</option>
            <option value="보문동4가">보문동4가</option>
            <option value="보문동5가">보문동5가</option>
            <option value="보문동6가">보문동6가</option>
            <option value="보문동7가">보문동7가</option>
            <option value="본동">본동</option>
            <option value="봉천동">봉천동</option>
            <option value="부암동">부암동</option>
            <option value="북가좌동">북가좌동</option>
            <option value="북아현동">북아현동</option>
            <option value="불광동">불광동</option>
            <option value="사근동">사근동</option>
            <option value="사당동">사당동</option>
            <option value="사직동">사직동</option>
            <option value="산천동">산천동</option>
            <option value="삼선동1가">삼선동1가</option>
            <option value="삼선동2가">삼선동2가</option>
            <option value="삼선동3가">삼선동3가</option>
            <option value="삼선동4가">삼선동4가</option>
            <option value="삼선동5가">삼선동5가</option>
            <option value="삼성동">삼성동</option>
            <option value="삼전동">삼전동</option>
            <option value="삼청동">삼청동</option>
            <option value="상계동">상계동</option>
            <option value="상도1동">상도1동</option>
            <option value="상도동">상도동</option>
            <option value="상봉동">상봉동</option>
            <option value="상수동">상수동</option>
            <option value="상암동">상암동</option>
            <option value="상왕십리동">상왕십리동</option>
            <option value="상월곡동">상월곡동</option>
            <option value="상일동">상일동</option>
            <option value="서계동">서계동</option>
            <option value="서교동">서교동</option>
            <option value="서빙고동">서빙고동</option>
            <option value="서초동">서초동</option>
            <option value="석관동">석관동</option>
            <option value="석촌동">석촌동</option>
            <option value="성내동">성내동</option>
            <option value="성북동">성북동</option>
            <option value="성북동1가">성북동1가</option>
            <option value="성산동">성산동</option>
            <option value="성수동1가">성수동1가</option>
            <option value="성수동2가">성수동2가</option>
            <option value="세곡동">세곡동</option>
            <option value="송정동">송정동</option>
            <option value="송파동">송파동</option>
            <option value="수색동">수색동</option>
            <option value="수서동">수서동</option>
            <option value="수송동">수송동</option>
            <option value="수유동">수유동</option>
            <option value="순화동">순화동</option>
            <option value="숭인동">숭인동</option>
            <option value="시흥동">시흥동</option>
            <option value="신계동">신계동</option>
            <option value="신공덕동">신공덕동</option>
            <option value="신교동">신교동</option>
            <option value="신길동">신길동</option>
            <option value="신내동">신내동</option>
            <option value="신당동">신당동</option>
            <option value="신대방동">신대방동</option>
            <option value="신도림동">신도림동</option>
            <option value="신림동">신림동</option>
            <option value="신문로1가">신문로1가</option>
            <option value="신문로2가">신문로2가</option>
            <option value="신사동">신사동</option>
            <option value="신설동">신설동</option>
            <option value="신수동">신수동</option>
            <option value="신영동">신영동</option>
            <option value="신원동">신원동</option>
            <option value="신월동">신월동</option>
            <option value="신정동">신정동</option>
            <option value="신창동">신창동</option>
            <option value="신천동">신천동</option>
            <option value="쌍림동">쌍림동</option>
            <option value="쌍문동">쌍문동</option>
            <option value="아현동">아현동</option>
            <option value="안암동1가">안암동1가</option>
            <option value="안암동2가">안암동2가</option>
            <option value="안암동3가">안암동3가</option>
            <option value="안암동5가">안암동5가</option>
            <option value="암사동">암사동</option>
            <option value="압구정동">압구정동</option>
            <option value="양재동">양재동</option>
            <option value="양평동1가">양평동1가</option>
            <option value="양평동2가">양평동2가</option>
            <option value="양평동3가">양평동3가</option>
            <option value="양평동4가">양평동4가</option>
            <option value="양평동5가">양평동5가</option>
            <option value="양평동6가">양평동6가</option>
            <option value="여의도동">여의도동</option>
            <option value="역삼동">역삼동</option>
            <option value="역촌동">역촌동</option>
            <option value="연건동">연건동</option>
            <option value="연남동">연남동</option>
            <option value="연지동">연지동</option>
            <option value="연희동">연희동</option>
            <option value="염곡동">염곡동</option>
            <option value="염리동">염리동</option>
            <option value="염창동">염창동</option>
            <option value="영등포동">영등포동</option>
            <option value="영등포동1가">영등포동1가</option>
            <option value="영등포동2가">영등포동2가</option>
            <option value="영등포동3가">영등포동3가</option>
            <option value="영등포동4가">영등포동4가</option>
            <option value="영등포동5가">영등포동5가</option>
            <option value="영등포동6가">영등포동6가</option>
            <option value="영등포동7가">영등포동7가</option>
            <option value="영등포동8가">영등포동8가</option>
            <option value="영천동">영천동</option>
            <option value="예장동">예장동</option>
            <option value="오금동">오금동</option>
            <option value="오류동">오류동</option>
            <option value="오장동">오장동</option>
            <option value="옥수동">옥수동</option>
            <option value="옥인동">옥인동</option>
            <option value="옥천동">옥천동</option>
            <option value="온수동">온수동</option>
            <option value="외발산동">외발산동</option>
            <option value="용강동">용강동</option>
            <option value="용답동">용답동</option>
            <option value="용두동">용두동</option>
            <option value="용문동">용문동</option>
            <option value="용산동2가">용산동2가</option>
            <option value="용산동3가">용산동3가</option>
            <option value="용산동5가">용산동5가</option>
            <option value="우면동">우면동</option>
            <option value="우이동">우이동</option>
            <option value="운니동">운니동</option>
            <option value="원남동">원남동</option>
            <option value="원서동">원서동</option>
            <option value="원효로1가">원효로1가</option>
            <option value="원효로2가">원효로2가</option>
            <option value="원효로3가">원효로3가</option>
            <option value="원효로4가">원효로4가</option>
            <option value="월계동">월계동</option>
            <option value="율현동">율현동</option>
            <option value="을지로4가">을지로4가</option>
            <option value="을지로5가">을지로5가</option>
            <option value="응봉동">응봉동</option>
            <option value="응암동">응암동</option>
            <option value="의주로1가">의주로1가</option>
            <option value="이문동">이문동</option>
            <option value="이촌동">이촌동</option>
            <option value="이태원동">이태원동</option>
            <option value="이화동">이화동</option>
            <option value="익선동">익선동</option>
            <option value="인의동">인의동</option>
            <option value="인현동2가">인현동2가</option>
            <option value="일원동">일원동</option>
            <option value="입정동">입정동</option>
            <option value="자곡동">자곡동</option>
            <option value="자양동">자양동</option>
            <option value="잠실동">잠실동</option>
            <option value="잠원동">잠원동</option>
            <option value="장안동">장안동</option>
            <option value="장위동">장위동</option>
            <option value="장지동">장지동</option>
            <option value="장충동1가">장충동1가</option>
            <option value="장충동2가">장충동2가</option>
            <option value="저동2가">저동2가</option>
            <option value="전농동">전농동</option>
            <option value="정동">정동</option>
            <option value="정릉동">정릉동</option>
            <option value="제기동">제기동</option>
            <option value="종로5가">종로5가</option>
            <option value="종암동">종암동</option>
            <option value="주성동">주성동</option>
            <option value="중계동">중계동</option>
            <option value="중곡동">중곡동</option>
            <option value="중동">중동</option>
            <option value="중림동">중림동</option>
            <option value="중화동">중화동</option>
            <option value="증산동">증산동</option>
            <option value="진관동">진관동</option>
            <option value="창동">창동</option>
            <option value="창성동">창성동</option>
            <option value="창신동">창신동</option>
            <option value="창전동">창전동</option>
            <option value="창천동">창천동</option>
            <option value="천연동">천연동</option>
            <option value="천왕동">천왕동</option>
            <option value="천호동">천호동</option>
            <option value="청담동">청담동</option>
            <option value="청량리동">청량리동</option>
            <option value="청운동">청운동</option>
            <option value="청파동1가">청파동1가</option>
            <option value="청파동2가">청파동2가</option>
            <option value="청파동3가">청파동3가</option>
            <option value="체부동">체부동</option>
            <option value="충무로2가">충무로2가</option>
            <option value="충무로3가">충무로3가</option>
            <option value="충무로4가">충무로4가</option>
            <option value="충무로5가">충무로5가</option>
            <option value="충신동">충신동</option>
            <option value="충정로2가">충정로2가</option>
            <option value="충정로3가">충정로3가</option>
            <option value="토정동">토정동</option>
            <option value="통인동">통인동</option>
            <option value="팔판동">팔판동</option>
            <option value="평동">평동</option>
            <option value="평창동">평창동</option>
            <option value="풍납동">풍납동</option>
            <option value="필동2가">필동2가</option>
            <option value="필동3가">필동3가</option>
            <option value="필운동">필운동</option>
            <option value="하계동">하계동</option>
            <option value="하왕십리동">하왕십리동</option>
            <option value="하월곡동">하월곡동</option>
            <option value="하중동">하중동</option>
            <option value="한강로1가">한강로1가</option>
            <option value="한강로2가">한강로2가</option>
            <option value="한강로3가">한강로3가</option>
            <option value="한남동">한남동</option>
            <option value="합동">합동</option>
            <option value="합정동">합정동</option>
            <option value="항동">항동</option>
            <option value="행당동">행당동</option>
            <option value="행촌동">행촌동</option>
            <option value="현석동">현석동</option>
            <option value="현저동">현저동</option>
            <option value="혜화동">혜화동</option>
            <option value="홍은동">홍은동</option>
            <option value="홍익동">홍익동</option>
            <option value="홍제동">홍제동</option>
            <option value="홍지동">홍지동</option>
            <option value="홍파동">홍파동</option>
            <option value="화곡동">화곡동</option>
            <option value="화양동">화양동</option>
            <option value="황학동">황학동</option>
            <option value="회기동">회기동</option>
            <option value="회현동1가">회현동1가</option>
            <option value="회현동2가">회현동2가</option>
            <option value="효자동">효자동</option>
            <option value="효제동">효제동</option>
            <option value="효창동">효창동</option>
            <option value="후암동">후암동</option>
            <option value="휘경동">휘경동</option>
            <option value="흑석동">흑석동</option>
            <option value="흥인동">흥인동</option>

        </select><br><br>
        <label for="area">임대면적(㎡):</label>
        <input type="text" id="area" name="area"><br><br>
        <label for="usage">건물용도:</label>
        <select id="usage" name="usage">
            <option value="아파트">아파트</option>
            <option value="상가">상가</option>
            <option value="주상복합">주상복합</option>
            <option value="사무실">사무실</option>
        </select><br><br>
        <input type="submit" value="예측">
    </form>
</body>
</html>